GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash-live-001
GEMINI_VOICE=Aoede
SCENE_MAP_JSON={"ho-tuyen-lam":"node414","da-lat":"node470","langbiang":"node412","pongour":"node418","tinh-yeu":"node482"}
ADMIN_PASSWORD=
